{% extends 'index.html' %}
{% block container %}

<h2 id="tables-hover-rows">主机名(ip)</h2>
    <p style="font-size: 30px;">主机详情</p><br><br><br>
  <div class="bs-example" data-example-id="hoverable-table">
    <table class="table table-hover">

      <tbody>
      <tr>
          <th style="font-size: large;color: #1cc09f">主机名</th>
          <td style="font-size: x-large">test-hostname</td>
        </tr>
        <tr>
          <th style="font-size: large;color: #1cc09f">ip</th>
          <td style="font-size: x-large">192.168.1.1</td>
        </tr>
        <tr>
          <th style="font-size: large;color: #1cc09f">应用类型</th>
          <td style="font-size: x-large">应用</td>
        </tr>
       <tr>
          <th style="font-size: large;color: #1cc09f">CPU</th>
          <td style="font-size: x-large">应用</td>
        </tr>
       <tr>
          <th style="font-size: large;color: #1cc09f">内存</th>
          <td style="font-size: x-large">应用</td>
        </tr>
       <tr>
          <th style="font-size: large;color: #1cc09f">硬盘</th>
          <td style="font-size: x-large">应用</td>
        </tr>
       <tr>
          <th style="font-size: large;color: #1cc09f">系统 </th>
          <td style="font-size: x-large"> 应用</td>
        </tr>
             <tr>
          <th style="font-size: large;color: #1cc09f">增加日期 </th>
          <td style="font-size: x-large"> 应用</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /example -->

{% endblock %}