<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script  type="text/javascript"  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script src="/static/js/layer.js"></script>
    <title>{{ title }}</title>
</head>
<body>
 <div class="container">
 {% block container %}
    <div class="table-responsive  ">

    {% for i in type %}
        {% if i.type == 0 %}
        <h1>应用列表 <button id="check" class="btn btn-success">检测</button></h1>
    {% for i in pro_ser %}
    <table class="table table-bordered table-hover" >
      <caption ><h4>{{ i.name }} </h4>  <ul type='button' class="btn btn-success">发布</ul> </caption>
      <thead>
        <tr>
          <th>id</th>
          <th>ip</th>
          <th>操作</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody>
      {% for j in i.hosts.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td style='width: 200px'>{{ j.ip }}</td>
          <td><span><button   class="btn  btn-success"   >重启 {{ i.get_type_display }}</button> </span></td>
        <td>
              {% if j.status == 0 %}
                 <p  class="btn btn-warning">{{ j.get_status_display }}</p>

               {% elif j.status == 1 %}
                  <p  class="btn btn-danger">{{ j.get_status_display }}</p>
                {% else %}
                  <p  class="btn btn-success">{{ j.get_status_display }}</p>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
        <br><br>
{% endfor %}
    {% elif i.type == 1 %}
        <h1>服务列表</h1>
    {% for i in pro_hand %}
    <table class="table table-bordered table-hover" >
      <caption ><h4>{{ i.name }}</h4>  <ul type='button' class="btn btn-success">发布</ul> </caption>
      <thead>
        <tr>
          <th>id</th>
          <th>ip</th>
          <th>操作</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody>
      {% for j in i.hosts.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td style='width: 200px'>{{ j.ip }}</td>
          <td><span><button   class="btn  btn-success"   >重启 {{ i.get_type_display }}</button> </span></td>
        <td>
              {% if j.status == 0 %}
                 <p  class="btn btn-warning">{{ j.get_status_display }}</p>

               {% elif j.status == 1 %}
                  <p  class="btn btn-danger">{{ j.get_status_display }}</p>
                {% else %}
                  <p  class="btn btn-success">{{ j.get_status_display }}</p>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endfor %}
        {% endif %}
    {%  endfor %}




        <button id='all' type="button" class="btn btn-primary btn-lg" >一键发布所有应用服务</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
 {% endblock %}
</div>

</body>
<script>
    $('#check').click(function () {
         layer.msg('检测中',{time:0})
        $.get('/check/',{'server':'check'},function (ret) {
            var re = JSON.parse(ret)
            if (re.status == 0)
            {
                layer.msg(re.result,{time:4000})
                location.reload()
            }
            else
            {
                layer.msg(re.result,{icon:2,time:5000})
            }
        })

    })


    $('#test').click(function () {
        //var index = layer.load(4, {shade: false}); //0代表加载的风格，支持0-2
//loading层
        var index = layer.load(2)  //.1透明度的白色背景}))
        index.close()
    })

    $('#all').click(function() {
        layer.msg('正在部署...',{time:0,shade:0.3})
        $.get('/sendcode/',{'service':'all'},function (ret) {
            var re = JSON.parse(ret)
            if (re.status == 0)
            {
                 layer.msg('部署成功',{icon: 1 ,shade:0.01});
            }
            else
            {
               layer.msg(re.result+ '\n部署失败',{icon: 2 ,shade:0.01});
            }
        })
    });

    $("ul").click(function () {
        var res = $(this).prev().text()
        layer.msg(res+'  部署中。。。',{ time:0,shade:0.3 })
        $.get('/sendcode/',{'service':res},function (ret) {
            var re = JSON.parse(ret)
            if (re.status == 0)
            {
                 layer.msg('发布成功   '+ re.result ,{icon: 1 ,shade:0.01});

            }
            else
            {
               layer.msg(re.result+ '\n部署失败',{icon: 2 ,shade:0.01});
            }
        })
    })

    $("span").click(function () {
        layer.msg('重启中', {icon: 16,shade: 0.01});
        var re = $(this).parent().prev().text();
        $.get('/restart/',{'server':re},function (re) {
            var res = JSON.parse(re)
            if (res.status == 0)
            {
                 layer.msg(res.result,{icon: 1 ,shade:0.01});
            }
            else
            {
               layer.msg(res.result+ '\n重启失败',{icon: 2 ,shade:0.01});
            }
        })

    })



    /*function restart() {
        var re = $(this).text();
        alert(re);
        console.log(re)

    }*/


</script>

</html>